{% extends 'base.html' %} 
{% block content %} 
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
</head>

<div class="head-container">
    <h1 class="header">Site Settings</h1>
</div>
<div class="center-container">
    <div class="content-container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-outline mb-4">
                <label class="form-label" for="name">Site Name</label>
                {{ form.name(id='name', class='form-control setting-form')}}
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="description">Site Description</label>
                {{ form.description(id='description', class='form-control setting-form')}}
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="webhook">Discord Webhook URL</label>
                {{ form.webhook(id='webhook', class='form-control setting-form')}}
            </div>
            {{ form.submit(class='btn btn-success btn-block mb-2 change-btn', value='Change Settings')}}
        </form>
    </div>
</div>

{% endblock %}