{% extends 'base.html' %} 
{% block content %} 
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
</head>

<div class="head-container">
    <h1 class="header">Add User</h1>
</div>
<div class="center-container">
    <div class="content-container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-outline mb-4">
                <label class="form-label" for="id">User ID</label>
                {{ form.user_id(id='id', class='form-control setting-form', placeholder="User's Discord ID")}}
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="max">Max Images</label>
                {{ form.maximages(id='max', class='form-control setting-form')}}
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="perms">Permission Level (1 = Full Admin Access, 0 = User Level Access)</label>
                {{ form.permlevel(id='perms', class='form-control setting-form', type='number')}}
            </div>
            {{ form.submit(class='btn btn-success btn-block mb-2 change-btn', value='Add Admin')}}
        </form>
    </div>
</div>

{% endblock %}