body {
    min-height: 100vh;
    background-color: #090909;
}

.head-container {
    text-align: center;
    margin-top: 10vh;
}

.header {
    font-weight: bold;
    font-size: large;
    color: white;
}

.center-container {
    background-color: #191919;
    height: fit-content;
    width: 40vw;
    border-radius: 5px;
    padding: 0;
}

.content-container {
    width: 80%;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.setting-form {
    width: 100%;
    text-align: center;
}

.change-btn {
    margin-top: 3vh;
    width: 100%;
}

.setting-form:focus {
    border-color: #5cb85c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(92, 184, 92, 0.6);
}

@media screen and (max-width: 600px) {
    .center-container {
        width: 80vw;
        height: 60vh;
    }

    .head-container {
        display: none;
    }
}

/* Begin Users Page */
.users {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5vh;
    table-layout: fixed;
    padding: 0;
    margin: 0;
    margin-top: 5vh;
}

.users th, .users td {
    padding: .625em;
    text-align: center;
}


.users th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: .03em;
}

.users td {
    border-style: none solid solid none;
    border: solid 1px #090909;
    border: 5px;
}


.user-card {
    height: 4vh;
    text-align: center;
    background-color: #090909;
} 

.delete-icon {
    color: red;
    width: 1.5vw;
}

.update-icon {
    color: lightblue;
    width: 1.5vw;
}

/* Table fixes */

tr td:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

tr td:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Responsive Table Query */
@media screen and (max-width: 1600px) {
    .users {
        border: 0;
    }


    .users thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .users tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .users td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .users td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .users td:last-child {
        border-bottom: 0;
    }

    .user-card {
        height: fit-content;
        text-align: end;
        background-color: #191919;
    }

    tr td:first-child {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    tr td:last-child {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        text-align: center;
    }

    tr:first-child {
        display: none;
    }

    .users th {
        display: none;
    }

    .update-icon {
        margin-left: 4vw;
    }

}