body {
    background-color: #282c34;
}

table {
    width: 100%;
    height: 100%
}

table td {
    text-align: center;
    vertical-align: middle;
}

pre code {
    overflow: auto;
    width: 100%;
    height: 100%;
}

