{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <script src="{{url_for('static', filename='js/table.js')}}"></script>
</head>

<div class="center-container">
    <div class="content-container">
        <h1 class="header">Your Uploads</h1>
        <span class="caption">{{size}} | {{total}} total files</span>
        <div class="key-container">
            <span>Authorization Key: </span><span class="secret-text">{{auth}}</span>
        </div>
        <div class="search-container">
            <div class="input-icon">
                <input type="text" id="search-bar" class="user-search" placeholder="Search Files..."
                    onkeyup="searchTable()">
            </div>
        </div>
        <div class="table-container">
            <table class="images" id="image-table" cellspacing="0">
                    <tr>
                        <th class="th-name" scope="col">Filename</th>
                        <th scope="col">Extension</th>
                        <th scope="col">Size</th>
                        <th scope="col">Created</th>
                        <th scope="col">Type</th>
                        <th scope="col">Delete</th>
                    </tr>
                    {% for image in files %}
                    <tr class="image-card">
                        {% if image['type'] == "image" %}
                        <td class="td-name" scope="row" data-label="Filename"><a href="{{image['url']}}"
                                class="image-name text-decoration-none"><i class="fa-regular fa-file-image"></i>
                                {{image['name']}}</a>
                        </td>
                        {% elif image['type'] == "text" %}
                        <td class="td-name" scope="row" data-label="Filename"><a href="{{image['url']}}"
                                class="image-name text-decoration-none"><i class="fa-regular fa-file-lines"></i>
                                {{image['name']}}</a>
                        </td>
                        {% elif image['type'] == "audio" %}
                        <td class="td-name" scope="row" data-label="Filename"><a href="{{image['url']}}"
                                class="image-name text-decoration-none"><i class="fa-regular fa-file-audio"></i>
                                {{image['name']}}</a>
                        </td>
                        {% elif image['type'] == "video" %}
                        <td class="td-name" scope="row" data-label="Filename"><a href="{{image['url']}}"
                                class="image-name text-decoration-none"><i class="fa-regular fa-file-video"></i>
                                {{image['name']}}</a>
                        </td>
                        {% elif image['type'] == "code" %}
                        <td class="td-name" scope="row" data-label="Filename"><a href="{{image['url']}}"
                                class="image-name text-decoration-none"><i class="fa-regular fa-file-code"></i>
                                {{image['name']}}</a>
                        </td>
                        {% elif image['type'] == "folder" %}
                        <td class="td-name" scope="row" data-label="Filename"><a href="{{image['url']}}"
                                class="image-name text-decoration-none"><i class="fa-regular fa-folder"></i> {{image['name']}}</a>
                        </td>
                        {% else %}
                        <td class="td-name" scope="row" data-label="Filename"><a href="{{image['url']}}"
                                class="image-name text-decoration-none"><i class="fa-regular fa-circle-question"></i>
                                {{image['name']}}</a></td>
                        {% endif %}
                        <td data-label="Extension">{{image['ext']}}</td>
                        <td data-label="Size">{{image['size']}}</td>
                        <td data-label="Created">{{image['created']}}</td>
                        <td data-label="Type">{{image['type']}}</td>
                        <td data-label="Delete"><a href="/delete/file/{{image['name']}}/{{image['ext']}}/{{u_id}}"
                                class="text-decoration-none"><i class="fa-solid fa-trash delete-icon"></i></a></td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}